body {
    display: block;
    margin: 8px;
}

table {
    border: 2px solid purple;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit; 
}

td {
    border: 2px solid purple;
    padding: 30px;
}

td:nth-child(even) {
    background-color: grey;
}

td:nth-child(odd) {
    background-color: black;
}

.position {
    border: 2px solid red;
    position: fixed;
    left: 20px;
    bottom: 40px;
}

.box {
    width: 600px;
    height: 300px;
    border: 2px solid green;
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
}

.absolute {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: gold;
    position: absolute;
    left: 50px;
    z-index: 1;
}

.absolute2 {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: silver;
    position: absolute;
    top: 30px;
    left: 130px;
}

.container {
    width: 900px;
    border: 2px solid hotpink;
    background-color: pink;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 30px;
}

.container > div {
    padding: 20px;
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item7 {
    grid-column-start: 2;
    grid-column-end: 4;
    height: 100px;
}






* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 800px;
    background: nav;
    margin: auto;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    color: pink;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
    display: block;

    nav a:hover {
        background-color: hotpink;
        text-decoration: underline;
        color: black;
    }
}
