body {
    display: block;
    margin: 8px;
}

table {
    border: 2px solid purple;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit; 
}

td {
    border: 2px solid purple;
    padding: 30px;
}

td:nth-child(even) {
    background-color: grey;
}

td:nth-child(odd) {
    background-color: black;
}

.position {
    border: 2px solid red;
    position: fixed;
    left: 20px;
    bottom: 40px;
}

.box {
    width: 600px;
    height: 300px;
    border: 2px solid green;
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
}

.absolute {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: gold;
    position: absolute;
    left: 50px;
    z-index: 1;
}

.absolute2 {
    width: 100px;
    height: 100px;
    border: 3px solid black;
    background-color: silver;
    position: absolute;
    top: 30px;
    left: 130px;
}

.container {
    width: 900px;
    border: 2px solid hotpink;
    background-color: pink;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 30px;
}

.container > div {
    padding: 20px;
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item7 {
    grid-column-start: 2;
    grid-column-end: 4;
    height: 100px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    max-width: 800px;
    width: 100%;
    background: navy;
    margin: auto;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;
    display: block;

    nav a:hover {
        background-color: navy;
        text-decoration: underline;
        color: black;
    }
}

main {
    max-width: 800px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
}

.main-content {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 400px;
    background-color: orange;
}

aside {
    width: 250px;
    height: 400px;
    background-color: yellow;
}

aside img {
    max-width: 100%;
    height: auto;
    display: block;
}

.clearfix {
    clear: both;
    float: none;
    margin: auto;
}

h1, h2 {
    text-align: center;
}

.extra-information {
    background-color: green;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}

#footer {
    width: 770px;
    margin: auto;
    padding: 15px;
}

@media (max-width: 1600px) {
}

@media (max-width: 1024px) { 
}

@media (max-width: 700px) {
    main {
        grid-template-columns: auto;
    }
    .main-content, .extra-information {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}