body {
    display: block;
    margin: 8px;
}

table {
    border: 2px solid purple;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit; 
}

td {
    border: 2px solid purple;
    padding: 30px;
}

td:nth-child(even) {
    background-color: grey;
}

td:nth-child(odd) {
    background-color: black;
}

.position {
    border: 2px solid red;
    position: fixed;
    left: 20px;
    bottom: 40px;
}

.box {
    width: 600px;
    height: 300px;
    border: 2px solid blue;
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
}

.absolute {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: bisque;
    position: absolute;
    left: 50px;
    z-index: 1;
}

.absolute2 {
    width: 100px;
    height: 100px;
    border: 3px solid white;
    background-color: aquamarine;
    position: absolute;
    top: 30px;
}
